<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <script src="https://kit.fontawesome.com/1b619ef918.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    {% block body %}
        <header class="navbar navbar-dark bg-dark">
            <img class="ms-4" src="{{ asset('/images/logo.png') }}" alt="logo">
            {% block nav %}
                <nav>
                    <ul class="nav text-light">
                        <li class="nav-item d-inline-flex active">
                            <a class="nav-link px-2 text-light" href="{{ path('index') }}">Home</a><span class="pt-2">|</span>
                        </li>
                        <li class="nav-item d-inline-flex">
                            <a class="nav-link px-2 text-light" href="{{ path('about') }}">About Us</a><span class="pt-2">|</span>
                        </li>
                        <li class="nav-item d-inline-flex">
                            <a class="nav-link px-2 text-light" href="{{ path('media') }}">Media</a><span class="pt-2">|</span>
                        </li>
                        <li class="nav-item d-inline-flex">
                            <a class="nav-link px-2 text-light" href="{{ path('advertise') }}">Advertise</a><span class="pt-2">|</span>
                        </li>
                        <li class="nav-item d-inline-flex">
                            <a class="nav-link px-2 text-light" href="{{ path('contact') }}">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            {% endblock %}
        </header>
        {% block section %}

        {% endblock %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body p-2">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ asset('/images/travel_plan/layer_1.png') }}" width="100%" height="100%">
                            </div>
                            <div class="col-md-8">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    <br/>
                                    <br/>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    <br/>
                                    <br/>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    <br/>
                                    <br/>
                                    Euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="my-2 d-flex">
                <div class="w-100"><img alt="banner" class="w-100" src="{{ asset('images/leaderboard_banner.png') }}"></div>
                <div class="social-links">
                    <img src="{{ asset('images/facebook.png') }}" alt="facebook">
                    <img src="{{ asset('images/twitter.png') }}" alt="twitter">
                    <img src="{{ asset('images/linkedin.png') }}" alt="linkedin">
                    <img src="{{ asset('images/instagram.png') }}" alt="instagram">
                </div>
            </div>
            <div class="py-3 ps-4 rights">TIM digital &#174. All rights reserve.</div>
        </footer>
    {% endblock %}
</div>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>