{% extends 'base.html.twig' %}

{% block nav %}
    <nav>
        <ul class="nav text-light">
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('index') }}">Home</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('about') }}">About Us</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('media') }}">Media</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('advertise') }}">Advertise</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('contact') }}">Contact Us</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block section %}
    <section>
        <img width="100%" src="{{ asset('images/register/business/background.svg') }}" alt="background">
        <img style="position: absolute;left: 0;width: 100%;" src="{{ asset('images/register/business/business_register.svg') }}" alt="business_register">
        <div style="position: absolute;font-family: 'neuropol';left: 22%;top: 32%;text-align: center;">
            <h2 class="px-5" style="color: #4D4FFF">"The future of Travel Planning"</h2>
            <div style="margin-top: 45px;border-top: 4px solid blue;padding: 30px;background: #0d111dfc;background-image: linear-gradient(180deg, #ffffff00, #0095ff6e);">
                <form>
                    <div class="input-group mb-3">
							<span class="input-group-text w-30 f-neuropol font-12 text-label-grey border-0 bg-blue me-1" id="inputGroup-sizing-default">
								<i class="fas fa-user fa-2x pe-2"></i>
								Full Name
							</span>
                        <input type="text" class="form-control bg-secondary text-light f-regular" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
							<span class="input-group-text w-30 f-neuropol font-12 text-label-grey border-0 bg-blue me-1" id="inputGroup-sizing-default">
								<i class="fas fa-calendar-alt fa-2x pe-2"></i>
								Date of Birth
							</span>
                        <input type="date" class="form-control bg-secondary text-light f-regular" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
							<span class="input-group-text w-30 f-neuropol font-12 text-label-grey border-0 bg-blue me-1" id="inputGroup-sizing-default">
								<i class="fas fa-flag fa-2x pe-2"></i>
								Select Nationality
							</span>
                        <select class="form-select bg-secondary text-light f-regular border-0" aria-label="Default select example">
                            <option selected></option>
                            <option value="GB">British</option>
                            <option value="AF">Afghan</option>
                            <option value="AL">Albanian</option>
                            <option value="DZ">Algerian</option>
                            <option value="US">American</option>
                            <option value="AD">Andorran</option>
                            <option value="AO">Angolan</option>
                            <option value="AM">Armenian</option>
                            <option value="AT">Austrian</option>
                            <option value="AZ">Azerbaijani</option>
                            <option value="AR">Argentinian</option>
                            <option value="AU">Australian</option>
                            <option value="BH">Bahraini</option>
                            <option value="BD">Bangladeshi</option>
                            <option value="BB">Barbadian</option>
                            <option value="BY">Belarusian</option>
                            <option value="BZ">Belizean</option>
                            <option value="BJ">Beninese</option>
                            <option value="BM">Bermudian</option>
                            <option value="BT">Bhutanese</option>
                            <option value="BO">Bolivian</option>
                            <option value="BA">Bosnian</option>
                            <option value="BW">Botswanan</option>
                            <option value="BG">Bulgarian</option>
                            <option value="BF">Burkinese</option>
                            <option value="BI">Burundian</option>
                            <option value="CA">Canadian</option>
                            <option value="CN">Chinese</option>
                            <option value="CO">Colombian</option>
                            <option value="CU">Cuban</option>
                            <option value="KH">Cambodian</option>
                            <option value="CM">Cameroonian</option>
                            <option value="CV">Cape Verdean</option>
                            <option value="TD">Chadian</option>
                            <option value="CL">Chilean</option>
                            <option value="CG">Congolese</option>
                            <option value="CR">Costa Rican</option>
                            <option value="HR">Croat</option>
                            <option value="CY">Cypriot</option>
                            <option value="CZ">Czech</option>
                            <option value="DK">Danish</option>
                            <option value="DO">Dominican</option>
                            <option value="DJ">Djiboutian</option>
                            <option value="DM">Dominican</option>
                            <option value="NL">Dutch</option>
                            <option value="EC">Ecuadorean</option>
                            <option value="EG">Egyptian</option>
                            <option value="ER">Eritrean</option>
                            <option value="EE">Estonian</option>
                            <option value="ET">Ethiopian</option>
                            <option value="FJ">Fijian</option>
                            <option value="FI">Finnish</option>
                            <option value="PF">French Polynesian</option>
                            <option value="FR">French</option>
                            <option value="GA">Gabonese</option>
                            <option value="GM">Gambian</option>
                            <option value="GE">Georgian</option>
                            <option value="DE">German</option>
                            <option value="GT">Guatemalan</option>
                            <option value="GH">Ghanaian</option>
                            <option value="GR">Greek</option>
                            <option value="GD">Grenadian</option>
                            <option value="GN">Guinean</option>
                            <option value="GY">Guyanese</option>
                            <option value="HT">Haitian</option>
                            <option value="HN">Honduran</option>
                            <option value="HU">Hungarian</option>
                            <option value="IN">Indian</option>
                            <option value="IE">Ireland</option>
                            <option value="IL">Israeli</option>
                            <option value="IT">Italian</option>
                            <option value="IS">Icelandic</option>
                            <option value="ID">Indonesian</option>
                            <option value="IR">Iranian</option>
                            <option value="IQ">Iraqi</option>
                            <option value="JP">Japanese</option>
                            <option value="JM">Jamaican</option>
                            <option value="JO">Jordanian</option>
                            <option value="KZ">Kazakh</option>
                            <option value="KE">Kenyan</option>
                            <option value="KP">North Korean</option>
                            <option value="KW">Kuwaiti</option>
                            <option value="LV">Latvian</option>
                            <option value="LB">Lebanese</option>
                            <option value="LR">Liberian</option>
                            <option value="LY">Libyan</option>
                            <option value="LT">Lithuanian</option>
                            <option value="LU">LUXEMBOURG</option>
                            <option value="MG">Madagascan</option>
                            <option value="MW">Malawian</option>
                            <option value="MY">Malaysian</option>
                            <option value="MV">Maldivian</option>
                            <option value="ML">Malian</option>
                            <option value="MT">Maltese</option>
                            <option value="MR">Mauritanian</option>
                            <option value="MU">Mauritian</option>
                            <option value="MC">Monacan</option>
                            <option value="MN">Mongolian</option>
                            <option value="ME">Montenegrin</option>
                            <option value="MA">Moroccan</option>
                            <option value="MZ">Mozambican</option>
                            <option value="MX">Mexican</option>
                            <option value="NA">Namibian</option>
                            <option value="NP">Nepalese</option>
                            <option value="NZ">New Zealand</option>
                            <option value="NI">Nicaraguan</option>
                            <option value="NE">Nigerien</option>
                            <option value="NG">Nigerian</option>
                            <option value="NO">Norwegian</option>
                            <option value="OM">Omani</option>
                            <option value="PK">Pakistani</option>
                            <option value="PA">Panamanian</option>
                            <option value="PG">Guinean</option>
                            <option value="PY">Paraguayan</option>
                            <option value="PE">Peruvian</option>
                            <option value="PH">Philippine</option>
                            <option value="PL">Polish</option>
                            <option value="PT">Portuguese</option>
                            <option value="QA">Qatari</option>
                            <option value="RO">Romanian</option>
                            <option value="RW">Rwandan</option>
                            <option value="SV">Salvadorean</option>
                            <option value="AS">Samoan</option>
                            <option value="SA">Saudi Arabian</option>
                            <option value="SN">Senegalese</option>
                            <option value="RS">Serbian</option>
                            <option value="SL">Sierra Leonian</option>
                            <option value="SG">Singaporean</option>
                            <option value="SK">Slovak</option>
                            <option value="SI">Slovenian</option>
                            <option value="SB">Slomoni</option>
                            <option value="SO">Somali</option>
                            <option value="ZA">South African</option>
                            <option value="KR">South Korean</option>
                            <option value="ES">Spanish</option>
                            <option value="SE">Swedish</option>
                            <option value="CH">Swiss</option>
                            <option value="LK">Sri Lankan</option>
                            <option value="SD">Sudanese</option>
                            <option value="SR">Surinamese</option>
                            <option value="SZ">Swazi</option>
                            <option value="TW">Taiwanese</option>
                            <option value="TJ">Tajik</option>
                            <option value="TH">Thai</option>
                            <option value="TG">Togolese</option>
                            <option value="TT">Trinidadian</option>
                            <option value="TN">Tunisian</option>
                            <option value="TR">Turkish</option>
                            <option value="TM">Turkoman</option>
                            <option value="TV">Tuvaluan</option>
                            <option value="UG">Ugandan</option>
                            <option value="UA">Ukrainian</option>
                            <option value="AE">Emirati</option>
                            <option value="VE">Venezuelan</option>
                            <option value="VN">Vietnamese</option>
                            <option value="UY">Uruguayan</option>
                            <option value="UZ">Uzbek</option>
                            <option value="VU">Vanuatuan</option>
                            <option value="YE">Yemeni</option>
                            <option value="ZM">Zambian</option>
                        </select>
                    </div>
                    <div class="input-group f-neuropol font-12 text-label-grey border-0 bg-blue mb-3 rounded p-2 pb-0">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male">
                            <label class="form-check-label f-neuropol" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female">
                            <label class="form-check-label f-neuropol" for="inlineRadio2">Female</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
							<span class="input-group-text w-30 f-neuropol font-12 text-label-grey border-0 bg-blue me-1" id="inputGroup-sizing-default">
								<i class="far fa-envelope fa-2x pe-2"></i>
								Email Address
							</span>
                        <input type="text" class="form-control bg-secondary text-light f-regular" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
							<span class="input-group-text w-30 f-neuropol font-12 text-label-grey border-0 bg-blue me-1" id="inputGroup-sizing-default">
								<i class="fas fa-phone-alt fa-2x pe-2"></i>
								Phone Number
							</span>
                        <input type="text" class="form-control bg-secondary text-light f-regular" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
							<span class="input-group-text w-30 f-neuropol font-12 text-label-grey border-0 bg-blue me-1" id="inputGroup-sizing-default">
								<i class="fas fa-mobile fa-2x pe-2"></i>
								Mobile Number
							</span>
                        <input type="text" class="form-control bg-secondary text-light f-regular" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group f-neuropol font-12 text-label-grey border-0 bg-blue mb-3 rounded p-2 pb-0">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male">
                            <label class="form-check-label f-neuropol" for="inlineRadio1">Traveller</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female">
                            <label class="form-check-label f-neuropol" for="inlineRadio2">Tourist</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female">
                            <label class="form-check-label f-neuropol" for="inlineRadio2">Leisure Tourist</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
							<span class="input-group-text w-30 f-neuropol font-12 text-label-grey border-0 bg-blue me-1" id="inputGroup-sizing-default">
								<i class="fas fa-globe fa-2x pe-2"></i>
								Top 5 City<br>Destination
							</span>
                        <input type="text" class="form-control bg-secondary text-light f-regular" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
							<span class="input-group-text w-30 f-neuropol font-12 text-label-grey border-0 bg-blue me-1" id="inputGroup-sizing-default">
								<i class="fas fa-glass-cheers fa-2x pe-2"></i>
								Favorite<br>Hangout place
							</span>
                        <input type="text" class="form-control bg-secondary text-light f-regular" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
							<span class="input-group-text w-30 f-neuropol font-12 text-label-grey border-0 bg-blue me-1" id="inputGroup-sizing-default">
								<i class="fas fa-utensils fa-2x pe-2"></i>
								Favorite Cuisine
							</span>
                        <input type="text" class="form-control bg-secondary text-light f-regular" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
							<span class="input-group-text w-30 f-neuropol font-12 text-label-grey border-0 bg-blue me-1" id="inputGroup-sizing-default">
								<i class="fas fa-suitcase fa-2x pe-2"></i>
								Dream Holiday
							</span>
                        <input type="text" class="form-control bg-secondary text-light f-regular" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3 mt-5">
                        <button type="submit" class="mx-auto btn text-white bg-register w-50">REGISTER USING FACEBOOK</button>
                    </div>
                    <div class="input-group mb-5">
                        <button type="submit" class="mx-auto btn text-white bg-register w-50">REGISTER USING GOOGLE</button>
                    </div>
                    <button type="submit" class="btn text-white bg-register w-50 p-2 rounded-3">REGISTER</button>
                </form>
            </div>
        </div>
        <div style="position: absolute;left: 0%;bottom: 0%;">
            <img class="w-100" src="{{ asset('images/register/business/footer.png') }}">
        </div>
    </section>
{% endblock %}