{% extends 'base.html.twig' %}

{% block nav %}
    <nav>
        <ul class="nav text-light">
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('index') }}">Home</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('about') }}">About Us</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('media') }}">Media</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('advertise') }}">Advertise</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('contact') }}">Contact Us</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block section %}
    <section>
        <div class="latest-news px-4 pt-4">
            <h1 class="page-title">LATEST NEWS</h1>
            <p class="f-bold">LATEST TRAVEL NEWS</p>
            <p class="f-light font-15">
                Latest Travel news that may interest you below:
                <br>If you are a travel journalist/blogger, please get in touch with us at <b class="f-italic">ask@tim.digital.</b>
            </p>
        </div>
        <div class="container position-absolute top-35">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset('./images/latest_news/News Images@2x.png') }}" class="card-img-top" alt="...">
                    <div class="card-body p-0 mb-3 p-3">
                        <h5 class="card-title f-bold mb-1">Nature in numbers</h5>
                        <p class="card-text f-light pb-1">DEC 21, 2012 |  Admin  | 2 comments</p>
                        <p class="card-text f-light pb-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                        <p class="card-text f-light-italic pb-1">Continue reading <span class="bg-primary px-2 text-white">></span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('./images/latest_news/News Images@2x.png') }}" class="card-img-top" alt="...">
                    <div class="card-body p-0 mb-3 p-3">
                        <h5 class="card-title f-bold mb-1">Nature in numbers</h5>
                        <p class="card-text f-light pb-1">DEC 21, 2012 |  Admin  | 2 comments</p>
                        <p class="card-text f-light pb-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                        <p class="card-text f-light-italic pb-1">Continue reading <span class="bg-primary px-2 text-white">></span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('./images/latest_news/News Images@2x.png') }}" class="card-img-top" alt="...">
                    <div class="card-body p-0 mb-3 p-3">
                        <h5 class="card-title f-bold mb-1">Nature in numbers</h5>
                        <p class="card-text f-light pb-1">DEC 21, 2012 |  Admin  | 2 comments</p>
                        <p class="card-text f-light pb-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                        <p class="card-text f-light-italic pb-1">Continue reading <span class="bg-primary px-2 text-white">></span></p>
                    </div>
                </div>
            </div>
        </div>
        <img width="100%" src="{{ asset('./images/background_2.png') }}">
        <img class="bg-gradient" src="{{ asset('./images/about/background_2.png') }}">
    </section>
{% endblock %}