{% extends 'base.html.twig' %}

{% block nav %}
    <nav>
        <ul class="nav text-light">
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('index') }}">Home</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('about') }}">About Us</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('media') }}">Media</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('advertise') }}">Advertise</a><span class="pt-2">|</span>
            </li>
            <li class="nav-item d-inline-flex">
                <a class="nav-link px-2 text-light" href="{{ path('contact') }}">Contact Us</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block section %}
    <section>
        <img width="100%" src="{{ asset('images/background_2.png') }}" alt="background_2">
        <img class="position-absolute left-0 h-100 w-auto" style="opacity: 0.6;" width="100%" src="{{ asset('images/login/business-droid.svg') }}" alt="business-droid">
        <div class="position-absolute top-18 left-35">
            <div class="d-flex flex-column bg-gery pt-4 px-4 rounded-pill-top" style="background: #cacdcf;">
                <div class="col-12">
                    <!-- <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label> -->
                    <div class="input-group">
                        <input type="text" class="form-control f-Semibold p-4" id="inlineFormInputGroupUsername" placeholder="Username">
                        <div class="bar"></div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- <label class="visually-hidden" for="inlineFormInputGroupUsername">Password</label> -->
                    <div class="input-group">
                        <input type="text" class="form-control f-Semibold p-4" id="inlineFormInputGroupUsername" placeholder="Password">
                        <div class="bar"></div>
                    </div>
                </div>
                <div class="col-auto d-flex">
                    <div class="form-check pt-3">
                        <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                        <label class="form-check-label" for="autoSizingCheck">
                            Remember me
                        </label>
                    </div>
                    <div class="pt-3 bg-transparent ms-auto">
                        <a href="#" class="f-light-italic text-dark text-decoration-none">Forgot Password?</a>
                    </div>
                </div>
                <div class="col-auto py-3">
                    <div class="mx-auto btn-shadow rounded-4 w-fit position-relative" style="width: fit-content;">
                        <img class="register-gradient" src="{{ asset('images/about/register_button_gradiant.png') }}" alt="register_button_gradiant">
                        <a href="#" class="login-text">LOGIN</a>
                        <img src="{{ asset('images/about/register_button.png') }}" alt="register_button">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column px-4 rounded-pill-bottom" style="background: #535455;">
                <div class="col-auto py-4">
                    <div class="mx-auto position-relative" style="width: fit-content;">
                        <a href="{{ path('business_register') }}" class="f-Semibold text-decoration-none text-white">REGISTER</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}